body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#img-profile {
  /*height: 500px;*/
  /*width: 400px;*/
}

.card-container {
  padding: 30px 120px;
}

footer {
  margin-top: 100px;
}

table {
  margin-top: 30px;
}

table td,
table th {
  text-align: center;
}

.btn-simpan {
  margin-left: 10px;
}

