
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap';

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.navbar-laravel {
  background-color: #005792;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fungsi-kognitif-group {
  background-color: #ccdfff;
}

.fungsi-interaksional-group {
  background-color: #efccff;
}

.fungsi-emosional-group {
  background-color: #ffcccc;
}

.fungsi-sikap-kerja-group {
  background-color: #fff2cc;
}

.fungsi-manajerial-group {
  background-color: #e3ffcc;
}
